<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>状态页</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link href="" rel="shortcut icon" type="image/x-icon" />
    <!-- main.css是购物商城主样式 -->
    <link rel=stylesheet type=text/css href="/css/index.css" />
    <link rel=stylesheet type=text/css href="/css/header.css" />
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <!-- Bootstrap -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<!-- 引入公用头部 -->
<div th:replace="public_header :: header"></div>

<div style="positon: relative; width: 960px; margin: 0px auto;">
    <!-- 右边对应物品列表 -->
    <div style="float: left; width: 780px; text-align: center;">
                    <table class="table table-bordered" id="product-table">
                        <thead>
                        <tr>
                            <th>评论用户</th>
                            <th>评论</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="commentBo: ${commentList}">
                            <td th:text="${commentBo.userName}"></td>
                            <td th:text="${commentBo.comment}"></td>
                        </tr>
                        </tbody>
                    </table>
    </div>
</div>

<!-- 引入公用尾部 -->
<div th:replace="public_footer :: #public_footer"></div>
</body>
</html>