<!DOCTYPE html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>order_manager</title>
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="/js/jquery.min.js"></script>

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/order.js"></script>
</head>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<label>选择快递公司：</label>
<select name="companyName" id="companyName" >
    <option th:each="company:${companyList}" th:text="${company}"></option>
</select>
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <table class="table table-hover table-bordered">
                <thead>
                <tr>
                    <th>全选</th>
                    <th>订单编号</th>
                    <th>交易产品</th>
                    <th>交易金额</th>
                    <th>购买数量</th>
                    <th>买家</th>
                    <th>订单状态</th>
                    <th>操作员</th>
                    <th>操作日期</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="order: ${orderList}">
                    <td>
                        <div class="checkbox">
                            <input type="checkbox" th:id="${order.orderId}" name="order-name" >
                        </div>
                    </td>
                    <td th:text="${order.orderId}"></td>
                    <td th:text="${order.productName}"></td>
                    <td th:text="${order.sumConsume}"></td>
                    <td th:text="${order.countConsume}"></td>
                    <td th:text="${order.userName}"></td>
                    <td th:if="${order.status} eq '申请退款'" th:text="${order.status}" class="danger"></td>
                    <td th:if="${order.status} ne '申请退款'" th:text="${order.status}" class="success"></td>
                    <td th:text="${order.operator}"></td>
                    <td th:text="${order.date}"></td>
                    <td>
                        <button th:if="${order.status} ne '已揽件,等待发货' and ${order.status} ne '已退货'"
                                th:id="${order.orderId}" th:name="sendGoods" type="button" class="btn btn-default btn-warning">发货</button>
                        <button th:if="${order.status} ne '已退货'" th:id="${order.orderId}" th:name="backGoods"
                                type="button" class="btn btn-default btn-danger">退单</button>
                    </td>
                </tr>
                </tbody>
            </table>

            <!-- 分页标签 -->
            <div class="pagebottom" id="pager" style="clear: both;">
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        <li th:class="${pageInfo.pageNum==1?'disabled':'page-item'}">
                            <a th:href="@{/order/orderList(pageNum='1')}"> <span
                                    aria-hidden="true">首页</span>
                            </a>
                        </li>

                        <li th:class="${pageInfo.pageNum==1?'disabled':'page-item'}">
                            <a th:unless="${pageInfo.isFirst}"
                               th:href="@{/order/orderList(pageNum=${pageInfo.pageNum-1})}"
                               aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>

                        <li th:each="navigatepageNum:${pageInfo.navigatepageNums}"
                            th:class="${navigatepageNum==pageInfo.pageNum?'active':'page-item'}">
                            <a th:href="@{/order/orderList(pageNum=${navigatepageNum})}">[[${navigatepageNum}]]</a>
                        </li>

                        <li th:class="${pageInfo.pageNum==pageInfo.pages?'disabled':'page-item'}">
                            <a th:unless="${pageInfo.isLast}"
                               th:href="@{/order/orderList(pageNum=${pageInfo.pageNum+1})}"
                               aria-label="Next"><span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>

                        <li th:class="${pageInfo.pageNum==pageInfo.pages?'page-item disabled':'page-item'}">
                            <a th:href="@{/order/orderList(pageNum=${pageInfo.pages})}">
                                <span aria-hidden="true">末页</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>

        </div>
    </div>
</div>
</body>
</html>