<!DOCTYPE>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>商品管理</title>
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="/js/jquery.min.js"></script>

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/product.js"></script>

</head>
<html xmlns:th="http://www.thymeleaf.org">

<!-- 添加商品模态框（Modal） -->
<div class="modal fade" id="insert_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="insertModelLabel">添加商品</h4>
            </div>
            <div class="modal-body">
                <form class="navbar-form navbar-left" role="search" id="create_form" action="/product/create">
                    <div class="form-group">
                        <label>商品名</label><input type="text" class="form-control" th:name="name" />
                    </div>
                    <div class="form-group">
                        <label>店铺名</label><input type="text" class="form-control" th:name="storeName" />
                    </div>
                    <div class="form-group">
                       <div>
                           <input type="hidden" th:name="img" id="img">
                           <label>商品图片</label>
                           <input class="filePrew" type="file" size="3"
                           id="productImgs"  onchange="toAddImgs('productImgs','/product/upFile')" multiple />
                       </div>
                    </div>
                    <div class="form-group">
                        <label>商品类型</label><input type="text" class="form-control" th:name="type" />
                    </div>
                    <div class="form-group">
                        <label>商品价格</label><input type="text" class="form-control"  th:name="price"/>
                    </div>
                    <div class="form-group">
                        <label>商品描述</label><input type="text" class="form-control" th:name="description" />
                    </div>
                    <button type="submit" class="btn btn-primary">添加商品</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary">重置</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<!-- 修改商品模态框（Modal） -->
<div class="modal fade" id="modify_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="modifyModalLabel">修改商品</h4>
            </div>
            <div class="modal-body">
                <form class="navbar-form navbar-left" role="search" action="/product/save" id="mod_form" method="post">
                    <input type="text" id="saveProductId" th:name="id" hidden="true">
                    <div class="form-group">
                        <label>商品名</label><input type="text" class="form-control" id="saveProductName" th:name="name"/>
                    </div>
                    <div class="form-group">
                        <label>店铺名</label><input type="text" class="form-control" id="saveStoreName" th:name="storeName"/>
                    </div>
                    <div class="form-group">
                        <div>
                            <table>
                                <tr th:each="productImg:${productImgPaths}">
                                    <img th:src="productImg"></img>
                                </tr>
                            </table>
                            <label>商品图片</label>	<input class="filePrew" type="file" size="3"
                                                          name="productImgs"  onchange="toAddImgs('productImgs','/product/upFile')" multiple />
                        </div>
                    </div>
                    <div class="form-group">
                        <label>商品类型</label><input type="text" class="form-control" id="saveType" th:name="type"/>
                    </div>
                    <div class="form-group">
                        <label>商品价格</label><input type="text" class="form-control" id="savePrice" th:name="price"/>
                    </div>
                    <div class="form-group">
                        <label>商品描述</label><input type="text" class="form-control" id="saveDescription" th:name="description"/>
                    </div>
                    <button type="submit" class="btn btn-primary">修改商品信息</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">恢复</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<!-- 商品促销模态框（Modal） -->
<div class="modal fade" id="promotion_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="promotionModelLabel">促销商品</h4>
            </div>
            <div class="modal-body">
                <form class="navbar-form navbar-left" role="search" id="promotion_form" action="/product/promotion">
                    <input type="text" id="productId" th:name="id" hidden="true">
                    <div class="form-group">
                        <label>商品名</label>
                        <input type="text" disabled="disabled"  class="form-control" th:name="name" id="productName"/>
                    </div>
                    <div class="form-group">
                        <label>店铺名</label>
                        <input type="text" disabled="disabled" class="form-control" th:name="storeName" id="storeName"/>
                    </div>
                    <div class="form-group">
                        <label>商品类型</label>
                        <input type="text" disabled="disabled" class="form-control" th:name="type" id="productType"/>
                    </div>
                    <div class="form-group">
                        <label>商品价格</label>
                        <input type="text" disabled="disabled" class="form-control"  th:name="price" id="productPrice"/>
                    </div>
                    <div class="form-group">
                        <label>促销信息</label>
                        <input type="text" class="form-control" th:name="msg" />
                    </div>
                    <div class="form-group">
                        <label>折扣</label>
                        <input type="text" class="form-control" th:name="dicount" />
                    </div>
                    <button type="submit" class="btn btn-primary">促销</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary">重置</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <button type="button" class="btn btn-default btn-primary" th:onclick="'upShelf();'">上架</button>
            <button type="button" class="btn btn-default btn-primary" th:onclick="'downShelf();'">下架</button>
            <button type="button" class="btn btn-default btn-danger" th:onclick="'batchDelete();'">删除</button>
            <button type="button" class="btn btn-default btn-danger" th:onclick="'create();'">创建</button>
          <div id="hasProduct" th:if="${hasProduct&&hasType}">
            <form action="/product/productList">
                <input type="text"  name="keyword" id="keyword" placeholder="请输入商品关键字..." />
                <input type="hidden" th:if="${typeName ne null}" name="type" id="type" th:value="${typeName}"/>
                <input type="hidden" name="isShow" id="isShow" th:value="${isShow}"/>
                <button type="submit" class="btn btn-primary">搜索</button>
            </form>
            <div class="dropdown">
            <button type="button" class="btn dropdown-toggle" id="dropdownMenu1"
                    data-toggle="dropdown">
                商品类型
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                <li role="presentation" th:each="productType:${productTypeList}">
                    <a role="menuitem" tabindex="-1" th:href="@{'/product/productList?type='+${productType.get('type')}+'&isShow='+${isShow}}"
                       th:text="${productType.get('type')}"></a>
                </li>
            </ul>
            </div>
            <div class="dropdown">
                <button type="button" class="btn dropdown-toggle" id="dropdownMenu2"
                        data-toggle="dropdown">
                    上下架
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu2">
                    <li role="presentation">
                        <a role="menuitem" tabindex="-1" th:href="@{'/product/productList?isShow=1&type='+${typeName}}">显示上架</a>
                        <a role="menuitem" tabindex="-1" th:href="@{'/product/productList?isShow=0&type='+${typeName}}">显示下架</a>
                    </li>
                </ul>
            </div>

            <table class="table table-bordered" id="product-table">
                <thead>
                <tr>
                    <th>
                        <div class="checkbox">
                            <input type="checkbox" id="select-all" onclick="checkOrCancelAll()">
                        </div>
                    </th>
                    <th>商品图片</th>
                    <th>商品名称</th>
                    <th>商品类型</th>
                    <th>商品价格</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="product: ${productList}">
                    <td>
                        <div class="checkbox">
                            <input type="checkbox" th:id="${product.id}" name="product-name" >
                        </div>
                    </td>
                    <td>
                        <img width="132" height="96" th:src="'/product_img/'+${product.img}">
                    </td>
                    <td th:text="${product.name}"></td>
                    <td th:text="${product.type}"></td>
                    <td th:text="${product.price}"></td>
                    <td>
                        <button type="button" class="btn btn-default btn-warning" th:onclick="'save('+${product.id}+')'">修改</button>
                        <button type="button" class="btn btn-default btn-warning" th:onclick="'promotion('+${product.id}+')'">促销</button>
                        <button type="button" class="btn btn-default btn-danger" th:onclick="'del('+${product.id}+')'">删除</button>
                    </td>
                </tr>
                </tbody>
            </table>
          </div>

            <!-- 分页标签 -->
            <div class="pagebottom" id="pager" style="clear: both;">
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        <li th:class="${pageInfo.pageNum==1?'disabled':'page-item'}">
                            <a th:href="@{/product/productList(pageNum='1',type=${typeName},isShow=${isShow})}"> <span
                                    aria-hidden="true">首页</span>
                            </a>
                        </li>

                        <li th:class="${pageInfo.pageNum==1?'disabled':'page-item'}">
                            <a th:unless="${pageInfo.isFirst}"
                               th:href="@{/product/productList(pageNum=${pageInfo.pageNum-1},type=${typeName},isShow=${isShow})}"
                               aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>

                        <li th:each="navigatepageNum:${pageInfo.navigatepageNums}"
                            th:class="${navigatepageNum==pageInfo.pageNum?'active':'page-item'}">
                            <a th:href="@{/product/productList(pageNum=${navigatepageNum},type=${typeName},isShow=${isShow})}">[[${navigatepageNum}]]</a>
                        </li>

                        <li th:class="${pageInfo.pageNum==pageInfo.pages?'disabled':'page-item'}">
                            <a th:unless="${pageInfo.isLast}"
                               th:href="@{/product/productList(pageNum=${pageInfo.pageNum+1},type=${typeName},isShow=${isShow})}"
                               aria-label="Next"><span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>

                        <li th:class="${pageInfo.pageNum==pageInfo.pages?'page-item disabled':'page-item'}">
                            <a th:href="@{/product/productList(pageNum=${pageInfo.pages},type=${typeName},isShow=${isShow})}">
                                <span aria-hidden="true">末页</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>

        </div>
    </div>
</div>
</html>