<!DOCTYPE html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>order_manager</title>
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="/js/jquery.min.js"></script>

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/stock.js"></script>
</head>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <table class="table table-bordered" id="product-table">
                <thead>
                <tr>
                    <th>商品名</th>
                    <th>库存数</th>
                    <th>入库日期</th>
                    <th>出库日期</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="stock: ${boStockList}">
                    <td th:text="${stock.id}" hidden="true" id="stock_id"></td>
                    <td th:text="${stock.productName}"></td>
                    <td><input th:value="${stock.count}"/></td>
                    <td><input th:value="${stock.inDate}" /></td>
                    <td><input th:value="${stock.outDate}"/></td>
                    <td>
                        <button type="button" class="btn btn-default btn-warning" onclick="modify(this)">修改</button>
                        <button type="button" class="btn btn-default btn-danger" onclick="reset(this)">清空</button>
                    </td>
                </tr>
                </tbody>
            </table>

            <!-- 分页标签 -->
            <div class="pagebottom" id="pager" style="clear: both;">
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        <li th:class="${pageInfo.pageNum==1?'disabled':'page-item'}">
                            <a th:href="@{/stock/stockList(pageNum='1')}"> <span
                                    aria-hidden="true">首页</span>
                            </a>
                        </li>

                        <li th:class="${pageInfo.pageNum==1?'disabled':'page-item'}">
                            <a th:unless="${pageInfo.isFirst}"
                               th:href="@{/stock/stockList(pageNum=${pageInfo.pageNum-1})}"
                               aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>

                        <li th:each="navigatepageNum:${pageInfo.navigatepageNums}"
                            th:class="${navigatepageNum==pageInfo.pageNum?'active':'page-item'}">
                            <a th:href="@{/stock/stockList(pageNum=${navigatepageNum})}">[[${navigatepageNum}]]</a>
                        </li>

                        <li th:class="${pageInfo.pageNum==pageInfo.pages?'disabled':'page-item'}">
                            <a th:unless="${pageInfo.isLast}"
                               th:href="@{/stock/stockList(pageNum=${pageInfo.pageNum+1})}"
                               aria-label="Next"><span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>

                        <li th:class="${pageInfo.pageNum==pageInfo.pages?'page-item disabled':'page-item'}">
                            <a th:href="@{/stock/stockList(pageNum=${pageInfo.pages})}">
                                <span aria-hidden="true">末页</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>

        </div>
    </div>
</div>
</body>
</html>